<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="<%= page_description %>">
    <meta name="keywords" content="<%= page_keywords %>">
    <meta name="author" content="PerkyCrow">

    <% if page_url %>
      <meta property="og:url" content="<%= page_url %>">
    <% end %>
    <meta property="og:title" content="<%= page_title %>">
    <meta property="og:description" content="<%= page_description %>">
    <% if page_image %>
      <meta property="og:image" content="<%= page_image %>">
    <% end %>
    <meta property="og:site_name" content="PerkyCrow">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="/android-chrome-192x192.png" sizes="192x192" type="image/png">
    <link rel="icon" href="/android-chrome-512x512.png" sizes="512x512" type="image/png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Quicksand:wght@400;600&display=swap">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render "shared/flash" %>
    <%= render "shared/header" %>

    <div id="main">
      <%= yield %>
    </div>

    <%= render "shared/footer" %>
  </body>
</html>
